.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header header header"
  "navbar navbar navbar"
  "main main main"
  "footer footer footer";
  grid-template-columns: 120px 4fr 1fr;
  grid-template-rows: 160px 40px 1fr 80px;
  color: #8399A2;
}
.container > div {
}

.header {
  grid-area: header;
  background-color: #8399a2;
  color: #dce3e6;
  text-align: center;
}
.navbar {
  grid-area: navbar;
  overflow: hidden;
  background-color: #95a8b0;
}
.navbar a{
  background-color: #a7b7bd;
  text-align: center;
  float: left;
  padding: 14px 14px;
  display: block;
  text-decoration: none;
  color: #8399A2;
}
.navbar a:hover{
  background-color: #95a8b0;
}
.main {
  grid-area: main;
  background-color: #cad4d8;
}
.footer {
  grid-area: footer;
  background-color: #b9c6cb;
}
